.DateInput {
  width: auto;
  max-width: 286px;
}

.DateInput_input {
  border-bottom: 0;
}

.DateRangePicker {
  width: 100%;
}

.DateRangePickerInput {
  display: flex;
  flex-direction: row;
}

.DateRangePickerInput_arrow {
  align-self: center;
}
