.DashboardFilter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  justify-content: space-around;
  margin-bottom: 1em;
}

.dates, .inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
  margin-bottom: 1em;
  justify-content: space-around;
}

.date-range {
  display: inline-block;
}

.filter-option {
  display: inline-block;
  vertical-align: bottom;
}

.filter-input, .DropdownSelect {
  padding: 13px 12px 11px;
  line-height: 24px;
  font-size: 18px;
  font-weight: lighter;
  width: 100%;
  border: 1px solid #cacccd;
}

.filter-input:focus {
  outline: none;
}

.label {
  display: block;
}

@media(max-width: 1035px) {
  .DashboardFilter {
    flex-direction: column;
  }
}

@media(max-width: 1035px) {
  .DashboardFilter {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 600px) {
  .dates, .inputs {
    grid-template-columns: 1fr;
  }

  .filter-input {
    width: 100%;
  }
}
