.Pagination {
  margin: 0 2em;
  padding: 2em;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.Pagination li a {
  display: flex;
  border-radius: 100%;
  width: 2em;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.Pagination li a:focus {
  outline: none;
}

.Pagination li:not(.break) a {
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.08);
  transition: box-shadow 0.2s ease-in-out;
  height: 2em;
}

.Pagination li:not(.break) a:not(.active):hover {
  cursor: pointer;
}

.Pagination li.active a,
.Pagination li.disabled a {
  pointer-events: none;
  background: #eee;
}

.Pagination li.break {
  font-size: 1em;
  letter-spacing: .5em;
  pointer-events: none;
  align-self: center;
}
