body {
  margin: 0;
}

.App {
  font-family: Roboto, sans-serif;
}

div, input, span {
  box-sizing: border-box;
}

.App-menu {
  background-color: #222;
  padding: 15px;
  color: white;
  vertical-align: middle;
}

.App-icon {
  width: 4rem;
}

.App-title {
  margin: .5rem;
  font-size: 2em;
  text-align: left;
}

.App-body {
  margin: 1rem;
}
