body {
  margin: 0;
}

.App {
  font-family: Roboto, sans-serif;
}

div, input, span {
  box-sizing: border-box;
}

.App-header {
  display: grid;
  grid-template-columns: 5em 10em 1fr;
  background-color: #222;
  padding: 15px;
  color: white;
  vertical-align: middle;
}

.App-icon {
  width: 4rem;
}

.App-title {
  margin: .5rem;
  font-size: 2em;
  text-align: left;
}

.App-menu {
  display: grid;
  justify-content: right;
  align-content: center;
  font-size: 3em;
}

.App-body {
  margin: 1rem;
}
