.DropdownSelect {
    position: relative;
}

.DropdownSelect:hover {
    cursor: pointer;
}

.DropdownSelect .dropdown-select-options {
    position: absolute;
    z-index: 1;
    cursor: default;
    left: 0;
    top: 100%;
    width: 100%;
    background: white;
    box-shadow: 0 2px 1px 1px #eee;
}

.DropdownSelect .dropdown-select-option {
    padding: .5rem 1rem;
}

.DropdownSelect .dropdown-select-option:hover {
    background: #eee;
    cursor: pointer;
}